In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
data= pd.read_csv('/content/WhatsApp Chat with Emoji_exams (1).txt',sep='\n',names=['text'])

In [ ]:
data.head()

                                                text
0                 05/10/20, 9:48 am - Himabindu: Hi!
1  05/10/20, 9:57 am - Himabindu: Was anything to...
2                  05/10/20, 10:05 am - Bhumika: Hey
3  05/10/20, 10:05 am - Bhumika: The first two un...
4  05/10/20, 10:08 am - Himabindu: lab is going o...

In [ ]:
data.shape

(139, 1)

In [ ]:
def extract_date(text):
  tokens=text.split()
  return tokens[0]

def times(text):
  tokens=text.split()
  return tokens[1]

def am_pm(text):
  tokens=text.split()
  return tokens[2]

In [ ]:
data['date']=data['text'].apply(lambda x: extract_date(x))

In [ ]:
x= data['text'][5]

In [ ]:
x.split(',')[0] #date

'05/10/20'

In [ ]:
(x.split('-')[0]).split(',')[1] #time

' 10:08 am '

In [ ]:
(x.split('-')[1]).split(':')[0] #author

' Himabindu'

In [ ]:
(x.split('-')[1]).split(':')[1] #msg

' üëãüèª'

In [ ]:
x='26/01/20, 7:41 pm - Messages and calls are end-to-end encrypted. No one outside of this chat, not even WhatsApp, can read or listen to them. Tap to learn more.'
x.split('-')

['26/01/20, 7:41 pm ',
 ' Messages and calls are end',
 'to',
 'end encrypted. No one outside of this chat, not even WhatsApp, can read or listen to them. Tap to learn more.']

In [ ]:
def date(x):
  x= str (x)
  return x.split(',')[0]

def time(x):
  try:
    x= str (x)
    return (x.split('-')[0]).split(',')[1]
  except:
    return None

def author(x):
  try :
    x= str (x)
    return (x.split('-')[1]).split(':')[0]

  except:
    return None

def msg(x):
  try:
    x= str (x)
    return (x.split('-')[1]).split(':')[1]
  
  except:
    return None

In [ ]:
data['date']=data['text'].apply(date)

In [ ]:
data['time']=data['text'].apply(time)

In [ ]:
data['author']=data['text'].apply(author)

In [ ]:
data['msg']=data['text'].apply(msg)

In [ ]:
data.head()

                                                text  ...                                           msg
0                 05/10/20, 9:48 am - Himabindu: Hi!  ...                                           Hi!
1  05/10/20, 9:57 am - Himabindu: Was anything to...  ...   Was anything told about the syllabus of ML?
2                  05/10/20, 10:05 am - Bhumika: Hey  ...                                           Hey
3  05/10/20, 10:05 am - Bhumika: The first two un...  ...                 The first two units I think üòÖ
4  05/10/20, 10:08 am - Himabindu: lab is going o...  ...                         lab is going on. ttyl

[5 rows x 5 columns]

In [ ]:
df=pd.DataFrame(data['date'],columns=['date'])

In [ ]:
df.head()

       date
0  05/10/20
1  05/10/20
2  05/10/20
3  05/10/20
4  05/10/20

In [ ]:
df['time']=data.time
df['author']=data.author
df['msg']=data.msg

In [ ]:
df.head()

       date  ...                                           msg
0  05/10/20  ...                                           Hi!
1  05/10/20  ...   Was anything told about the syllabus of ML?
2  05/10/20  ...                                           Hey
3  05/10/20  ...                 The first two units I think üòÖ
4  05/10/20  ...                         lab is going on. ttyl

[5 rows x 4 columns]

In [ ]:
df.count()

date      139
time      139
author    139
msg       139
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    139 non-null    object
 1   time    139 non-null    object
 2   author  139 non-null    object
 3   msg     139 non-null    object
dtypes: object(4)
memory usage: 4.5+ KB

In [ ]:
df.describe()

            date       time      author                        msg
count        139        139         139                        139
unique         4         83           2                        134
top     05/10/20   3:52 pm    Himabindu   You deleted this message
freq          70          5          91                          5

In [ ]:
!pip install emoji
import emoji

Requirement already satisfied: emoji in /usr/local/lib/python3.6/dist-packages (0.6.0)

In [ ]:
#extract emojis from the given text s into a
def extract_emojis(s):
  try:
    a=''.join(c for c in s if c in emoji.UNICODE_EMOJI)
    if (a==''):
      return None
    else:
      return a
  except:
      return None

In [ ]:
data['emoji']=data['text'].apply(extract_emojis)

In [ ]:
data['emoji'].value_counts()

ü§î     3
üòä     2
üòû     2
üè†     2
üòÖ     2
     ..
üòÇ     1
üì±üè™    1
üçúüç≤    1
üëå‚ùÑ    1
üò∑üòÇ    1
Name: emoji, Length: 92, dtype: int64

In [ ]:
df['emoji']=data['emoji']

In [ ]:
df['msg'].value_counts()

 You deleted this message                          5
 This message was deleted                          2
 Will get it right now...need to hurry upüèÉ‚Äç‚ôÄüèÉ‚Äç‚ôÄ    1
 yup üòç                                             1
 The skyline is so pretty! üåÖüåÑüåáüåÜ                    1
                                                  ..
 That is so sad üò≠üò≠üòûüòûüòîüò£üò´üò©üò¢                          1
 üòÖ                                                 1
 I am switching off my phoneüì±üì¥                     1
 Need to pack so many thingsü•µü•¥                     1
 Was anything told about the syllabus of ML?       1
Name: msg, Length: 134, dtype: int64

In [ ]:
df.to_csv('whatsapp_bindu_bhumika.csv')

In [ ]:
df.shape

(139, 5)

In [ ]:
a= pd.read_csv('/content/whatsapp_diksha_anushka.csv')

In [ ]:
a.head()

   Unnamed: 0      date  ...                                           msg emoji
0           0  05/10/20  ...                                           Hi!   NaN
1           1  05/10/20  ...   Was anything told about the syllabus of ML?   NaN
2           2  05/10/20  ...                                           Hey   NaN
3           3  05/10/20  ...                 The first two units I think üòÖ     üòÖ
4           4  05/10/20  ...                         lab is going on. ttyl   NaN

[5 rows x 6 columns]

In [ ]:
a= pd.read_csv('/content/whatsapp_bindu_bhumika.csv')

In [ ]:
b= pd.read_csv('/content/whatsapp_diksha_anushka.csv')

In [ ]:
a.shape

(139, 6)

In [ ]:
b.shape

(164, 6)

In [ ]:
df=pd.concat([a,b])

In [ ]:
df.head()

   Unnamed: 0      date  ...                                           msg emoji
0           0  05/10/20  ...                                           Hi!   NaN
1           1  05/10/20  ...   Was anything told about the syllabus of ML?   NaN
2           2  05/10/20  ...                                           Hey   NaN
3           3  05/10/20  ...                 The first two units I think üòÖ     üòÖ
4           4  05/10/20  ...                         lab is going on. ttyl   NaN

[5 rows x 6 columns]

In [ ]:
df.shape

(303, 6)

In [ ]:
df.to_csv('combined_whatsapp_chat.csv')